.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height          : 150px;
  padding         : 20px;
  color           : white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.links {
  stroke        : #000;
  stroke-opacity: 0.2;
}

.polygons {
  fill  : none;
  stroke: #000;
}

.polygons :first-child {
  fill: #f00;
}

.sites {
  fill  : #000;
  stroke: #fff;
}

.sites :first-child {
  fill: #fff;
}